/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 700px;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border-radius: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.heading {
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: 700;
  font-size: 36px;
}
.sub-heading {
  font-family: 'Roboto';
  color: #334155;
  font-weight: 500;
  font-size: 22px;
}
.increment-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  text-align: center;
  border-radius: 8px;
  border-width: 0px;
  font-family: 'Roboto';
  font-size: 15px;
  color: #1e293b;
}
.description {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
  .sub-heading {
    font-size: 48px;
  }
  .increment-button {
    font-size: 18px;
  }
  .description {
    font-size: 24x;
  }
}
